ul.main {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 70%;
  min-width: 500px;
  background: whitesmoke;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

ul * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: block;
  margin-bottom: 20px;
}

li * {
  width: 75%;
  height: 23px;
  -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  height: 26px;
  padding: 3px;
  background: #f8f8f8;
  border:none;
}

input[type="submit"] {
  width: 100px;
  height: 30px;
  border: 0;
  background: #565656;
  color: #fff;
}

.emptyField {
  box-shadow: 0 0 5px 1px #f43841;
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -1px; }
    100% { right: -1px; }
}
